.example-container {
  padding-top: 60px;
  width: 100%;
  min-height: 500px;
  background-color: #565656;
}
.main-content {
  margin-left: 20px;
  min-height: 700px;
  color: red;
}
.mat-drawer {
  background-color: #fba92c;
  border-radius: 5px;
}
